# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Node / Next
node_modules/
.next/
out/
.env
.env.local
.env.*.local

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Local previews
*.log
